.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout__left {
    flex: 0.7;
    /* Takes up 70% of wait */
}

.checkout__right {
    flex: 0.3;
    /* Takes up 30% of width */
    margin-left: 20px;
}

@media (max-width: 768px) {
    .checkout {
        flex-direction: column;
    }

    .checkout__right {
        margin-left: 0;
        margin-bottom: 20px;
        flex: 1;
        order: -1;
        /* Show subtotal at top on mobile */
    }
}