.footer {
    background-color: #232f3e;
    color: white;
}

.footer__backToTop {
    background-color: #37475a;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    font-size: 13px;
}

.footer__backToTop:hover {
    background-color: #485769;
}

.footer__links {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
    margin: 0 auto;
    max-width: 1000px;
}

.footer__linkArea>h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer__linkArea>p {
    font-size: 14px;
    margin-bottom: 5px;
    cursor: pointer;
}

.footer__linkArea>p:hover {
    text-decoration: underline;
}

.footer__bottom {
    background-color: #131a22;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__bottom>img {
    width: 60px;
    margin-bottom: 10px;
}

.footer__copyright {
    font-size: 12px;
    color: #ddd;
}

@media (max-width: 768px) {
    .footer__links {
        flex-direction: column;
        padding-left: 20px;
    }

    .footer__linkArea {
        margin-bottom: 20px;
    }
}