.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}

.product__price {
    margin-top: 5px;
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
    width: 100%;
}

.product>img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product>button {
    background: #f97316;
    /* Vibrant Orange */
    border: 1px solid;
    margin-top: 10px;
    border-color: #c2410c #9a3412 #9a3412;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 16px;
    transition: transform 0.1s;
}

.product>button:hover {
    transform: scale(1.02);
    background: #ea580c;
}

.product__rating {
    display: flex;
}